# site properties and page defaults
title: BIO-MAS Lab
subtitle: Biophysics of Intracellular Organization - Mechanics And Superresolution 
description: Shi Lab @ Western University
header: images/background1.png
footer: images/background2.jpg
proofer: false

# site social media and other links
links:
  email: contact@yushi1898DESCRIPTION=An engaging 1-3 sentence description of your lab..com
  orcid: 0000-0002-8827-7500
  google-scholar: Bt-A-p8AAAAJ
  github: yushi1898DESCRIPTION=An engaging 1-3 sentence description of your lab.

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
